*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style:none;
    font-family:sans-serif;

}
.header{
    
    display: flex;
    justify-content: space-between;
    width:100%;
    box-shadow: 0px 1px 5px 0px #908e8e;
    height: 90px;
}
.headerleft{
   display :flex; 
   align-items:center; 
   justify-content:space-between;
   gap: 40px;
   
} 
.logo{
    margin-left: 40px;
}

.menu>ul{
    display: flex;  
    gap:30px; 
}
.menu>ul>li a{
    font-size:14px;
    font-weight:700;
    color:black;
}
.menu-item{
    font-size: 16px;
    font-weight: 600;
}
.new-tag{
    color: #ea0e0e;
    font-size: 9px;
    font-weight:700;
    margin-left: 4px;
    vertical-align: top;
    position: relative;
    top: -2px;
    
}
.headerRight{
    display: flex;
    width: 50%; 
    align-items:center;
    justify-content: space-between;
}

.headerRight form{
    width: 60%;
    display: flex;
    border: 1px solid #f0efef;
    border-radius: 5px;
    justify-content: left;
    margin-left: 20px;
}


.headerRight form button{
    width: 10%;
    background: transparent;
    border: none;
    background-color: #f0efef;
}
.headerRight form input{
    width: 90%;
    height: 30px;
    border: none;
    background-color: #f0efef;
}
.icon>ul{
    width: 40%;
    display: flex;
    justify-content:center;
    gap: 20px;
    
}
.icon>ul>li{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 15px;
    font-weight: 310;   
    gap: 5px;
    flex-direction: column;
}

.banner{
   width: 100%;
   margin: 30px 60px;
   
}
.bannermid{
display: flex;
justify-content: center;
align-items: center;

border: 1px solid white;
border-radius: 4px;

}


.bannermidds img{
    max-width: 100%;
}
  

.bannerline{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin:20px 60px;
  
}
.menu-item2{
    font-size: 16px;
    font-weight: 600;
}
.new-tag2{
    color:white;
    font-size: 9px;
    font-weight:700;
    margin-left: 4px;
    vertical-align: top;
    position: relative;
    top: -2px;
    
}.footer{
    background:#fafbfc;
    padding:40px 60px;
    color:#333;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-col{
    width:22%;
    margin-bottom:30px;
}

.footer-col h4{
    font-size:14px;
    margin-bottom:15px;
    font-weight:bold;
}

.footer-col ul{
    list-style:none;
}

.footer-col ul li{
    font-size:13px;
    color:#696b79;
    margin-bottom:8px;
    cursor:pointer;
}

.footer-col ul li:hover{
    text-decoration:underline;
}

.app-buttons img{
    width:140px;
    margin-right:10px;
    margin-bottom:15px;
}

.social-icons span{
    display:inline-block;
    width:35px;
    height:35px;
    line-height:35px;
    text-align:center;
    background:#eaeaec;
    margin-right:10px;
    border-radius:5px;
    font-size:12px;
    cursor:pointer;
}

.info p{
    font-size:14px;
    margin-bottom:15px;
    color:#555;
}

.popular-searches{
    margin-top:30px;
    border-top:1px solid #ddd;
    padding-top:20px;
}

.popular-searches h4{
    font-size:14px;
    margin-bottom:10px;
}

.popular-searches p{
    font-size:13px;
    color:#696b79;
    line-height:1.6;
}
